

.button-white{
    border: none;
    font-size: 16px;
    border-radius: 3px;
    cursor: grab;
    background: linear-gradient(rgb(24, 22, 22),red);
    color: aliceblue;
    padding: 7px 10px;
}

.button-grey{
    border: none;
    font-size: 16px;
    border-radius: 3px;
    cursor: grab;
    background: linear-gradient(rgb(24, 22, 22),red);
    color: aliceblue;
    padding: 7px 10px;
}

.preview-action :hover{
    border: none;
    transition: 0.90s;
    background: linear-gradient(rgb(24, 22, 22),red);
    padding:7px 25px;
    border-radius: 5px;
    color: white;
}

