
.glider-contain {
    display: grid;
    grid-template-areas: 
    nov0 nov1 nov2 ;
    margin: 0 10rem 7rem 10rem;
}

.titulo{
    margin-left: 23rem;
    font-family: 'Varela Round', sans-serif;
    
}

.color2{
    color: #b22222;
}

.nov0{
    border: #000 solid 3px;
    width: 30%;
    margin-right: 20px;
    
}

.nov0:hover{
    border: #b22222 solid 3px;
}

.nov1{
    border: #000 solid 3px;
    width: 30%; 
    margin-right: 20px;
}
.nov1:hover{
    border: #b22222 solid 3px;
}

.nov2{
    border: #000 solid 3px;
    width: 30%;
    margin-right: 20px;

}
.nov2:hover{
    border: #b22222 solid 3px;
}

    
@media (max-width: 394px) {
    
    .glider-contain {
        display: grid;
        grid-template-areas: 
        "nov0" 
        "nov1" 
        "nov2";
        margin: 0;
    }

    .titulo{
        margin-left: 0;
    }

    .nov0 {
        grid-area: nov0;
        border: #000 solid 3px;
        width: 100%;
        margin-right: 20px;
        margin: 0;
       
        
    }

    

    .nov1 {
        grid-area: nov1;
        border: #000 solid 3px;
        width: 100%;
        margin-right: 20px;
        margin: 0;
        
    }
    .nov2 {
        grid-area: nov2;
        border: #000 solid 3px;
        width: 100%;
        margin-right: 20px;
        margin: 0;
        
    }
}

