body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif
 }

 a{
    color:#b22222;
    cursor: grab;
}

.caixa{
    background-color: #000000;
    width: 100%;
    position: fixed;
    opacity: 0.89;
    z-index: 999;
}

.caixa-cabecalho{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
}

.logo1{
    height: 8%;
    width: 8%;
    padding:10px ;
    margin-left: 150px;
}

.caixa-ul{
    display: flex;
    list-style-type: none;
    margin: 0px 90px 0 124px;
}

.caixa-li{
    padding: 40px 30px 30px 12px;
    color: #FFFFFF;
    font-size: 19px;
    justify-content: space-between;
}

.color2{
    color:#b22222;
}

.pesquisa{
    margin: 40px 30px 0 0;
    height: 50px;
}

.pesquisa input{
    background-image: url(lupa2.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 94%;
    height: 22px;
}   


section {
    justify-content: right;
    float: right;
    
    box-sizing: border-box;
}

h1{
    color: brown;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: aliceblue;
    font-size: 28px;
}

label{
    color: aliceblue;
   
}
input{
    height: 30px;
    border-radius: 6px;
}

select{
    border-radius: 6px;
    height: 25px;
    width: 100%;
    ;
}

textarea{
    border-radius: 6px;

}
article{
    font-size: 20px;
    justify-content: left;
    float: left;
    box-sizing: border-box;
}

.contato{
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
}


footer{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    display: grid;
    grid-template-areas: 
    "localizaçao logo redes";
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 30vh;
}

.localizaçao{
    padding: 15px;
    grid-area: localizaçao;
    margin-left: 15px;

}

.redes{
    margin: 30px;
    text-align: end;
    justify-items: end;
    align-items: flex-end;
}

.escrita{
    text-align: right;
    margin: 20px;
}

.fotoLocalização{
    margin: 5px;
    width: 37px;
    justify-content: center;
}

ul{
    padding: 10px;
    margin-top: 0px;
}

li{
    list-style-type: none;
}


.logo img{
    margin-left: 10px;
}

.logoFooter{
    grid-area: logo;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.paragrafoFooter{
    align-self: center;
    
}

.logosredes{
    margin: 4px;
    width: 30px;
}

.ifood{
    width: 60px;
}

@media (max-width: 400px){


}
